/* ====================================== */
/* GENERIC STYLING */
/* ====================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

a, a:hover {
  text-decoration: none;
  color: #333333; }

header .row:last-child {
  padding-left: 4rem; }

/* ====================================== */
/* HOME PAGE */
/* ====================================== */
.jumbotron {
  margin-top: 4rem;
  width: 600px; }

button {
  height: 60px;
  width: 100px;
  align-self: center; }

input {
  background-color: grey; }

/* SERVICES SECTION */
#services {
  margin-top: 9rem; }

/* card class */
.card {
  height: 400px; }

/* ====================================== */
/* SIGN-UP PAGE */
/* ====================================== */
#signup-form {
  margin-top: 6rem; }
  #signup-form .card {
    width: 50%;
    height: 80%; }
  #signup-form a {
    width: 150px; }

/* ====================================== */
/* PROFILE PAGE */
/* ====================================== */
#profile .col-4 .card {
  height: 800px;
  background-color: #9b59b6;
  border: none;
  margin-right: 3rem; }
  #profile .col-4 .card img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 40px; }
  #profile .col-4 .card button {
    width: 50px;
    height: 30px;
    margin-top: 0.25rem; }

#profile .col-8 .card {
  height: 40%;
  background-color: #bdc3c7;
  border: none;
  margin-bottom: 3rem; }
