/* ====================================== */
/* GENERIC STYLING */
/* ====================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
}

// REUSABLE COMPONENTS
header {
    .row:last-child {
        padding-left: 4rem;
    }
}

/* ====================================== */
/* HOME PAGE */
/* ====================================== */
.jumbotron {
    margin-top: 4rem;
    width: 600px;
}

button {
    height: 60px;
    width: 100px;
    align-self: center;
}

input {
    background-color: grey;
}

/* SERVICES SECTION */
#services {
    margin-top: 9rem;
}
/* card class */
.card {
    height: 400px;
}

/* ====================================== */
/* SIGN-UP PAGE */
/* ====================================== */
#signup-form {
    margin-top: 6rem;

    .card {
        width: 50%;
        height: 80%;
    }

    button {
        width: 200px;
    }
}

/* ====================================== */
/* BROWSE PAGE */
/* ====================================== */

