/* MAIN SECTION */
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2rem;
}

ul li {
    margin: 1rem;
    font-size: 20px;
}

ul li:last-child {
    font-weight: bold;
}

/* Main screen text */
.logo-text {
    margin-top: 12rem;
    margin-left: 4rem;
}

.logo-text .main-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-text h1 {
    font-size: 90px;
}

.main-text button {
    margin-left: 2rem;
    height: 65px;
    width: 140px;
    font-size: 25px;
    color: #ffffff;
    background-color: #8e44ad;
    border: none;
    border-radius: 5px;
}

.main-text button:hover {
    cursor: pointer;
    background-color: #843ea1;
    transition: background-color 0.5s;
}

/* sub heading and search bar styling */
.sub-text {
    margin-left: 4rem;
}

.search-bar {
    margin-left: 5rem;
    margin-top: 1rem;
}

.search-bar input {
    border: none;
    background-color: #ecf0f1;
    padding: 0.75rem;
    border-radius: 5px;
    width: 475px;
    height: 50px;
    font-size: 15px;
}

/* SERVICES SECTION */
#services {
    margin-top: 15rem;
    background-color: #8e44ad;
}

/* overall container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 20px;
}

/* individual service boxes */
.grid-item {
    background-color: #ffffff;
    height: 450px;
    width: 275px;
    margin: 75px 0;
    border-radius: 5px;
}

/* test within services */
.grid-item p {
    padding-top: 3rem;
    padding-left: 2rem;
    font-size: 20px;
    font-weight: bold;
}